/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  background-color: #0f172a;
  color: white;
}

/* ASIDE */
aside {
  width: 260px;
  padding: 20px;
  background-color: #1e293b;
  border-right: 1px solid #334155;
  overflow-y: auto;
}

aside h1 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #38bdf8;
  text-align: center
}

.search {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  background: #0f172a;
  color: white;
}

.search:focus {
  outline: 1px solid #38bdf8;
}

ul {
  list-style: none;
}

/* ITEM USUARIO */
li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

li:hover {
  background-color: #334155;
  transform: translateX(3px);
}

li img {
  width: 40px;
  border-radius: 50%;
}
.address-aside{
  padding: 5px;
  font-size: 9px;
  color: #8696a0;
}
/* INFO USUARIO */
.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 500;
}



/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.chat header {
  padding: 15px;
  border-bottom: 1px solid #334155;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
}

.chat header button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}
.time {
  font-size: 11px;
  margin-top: 4px;
  align-self: flex-end;
  color: #c3c9d3c4;
}

/* BODY */
.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.not-found-chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  font-size: 45px;
  color: rgba(128, 128, 128, 0.411);

}
/* MENSAJES */
.message {
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.message p {
  margin: 0;
}

/* MENSAJE RECIBIDO */
.received {
  background: #1e293b;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

/* MENSAJE PROPIO */
.me {
  background: #38bdf8;
  color: black;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #334155;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #1e293b;
  color: white;
}

.chat-input button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
}

/* LOGIN / REGISTRO */
.section-login,
.section-registro {
  max-width: 400px;
  margin: auto;
  margin-top: 10vh;
  padding: 30px;
  background: #1e293b;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* TITULOS */
.section-login h2,
.section-registro h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #38bdf8;
  font-size: 32px;
  transition: 0.2s;
}

.section-login h2:hover,
.section-registro h2:hover {
  color: #44ef7d;
}

/* FORM */
.section-login form,
.section-registro form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* INPUTS */
.input-login,
.input-registro {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #0f172a;
  color: white;
}

.input-login:focus,
.input-registro:focus {
  outline: 1px solid #38bdf8;
}

/* BOTONES */
button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.03);
}

/* LINK REGISTRO */
.button-reg {
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

/* ERROR */
.error-form {
  color: #ef4444;
  margin-top: 10px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  aside {
    display: none;
  }
}